body {
  background-color: #f8f8ff;
  width: 100vw;
  height: 100vh;        
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
}

div.title {
  display: block;
  position: absolute;
  top: 30px;   
}

div.recording {      
  display: block;
  position: absolute;
  bottom: 20px;  
  padding: 20px;
  background-color: #fffafa;
  border: 1px solid #add8e6;
  border-radius: 10px;;
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 1.2em;
}