body {
  background-color: #f4f4f2;
  width: 100vw;
  height: 100vh;        
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
}

div.title {
  display: block;
  position: absolute;
  top: 30px;   
}

div.recording {      
  display: block;
  position: absolute;
  width: 350px;
  bottom: 15px;  
  padding: 15px;
  background-color: #fffafa;
  border: 1px solid #c7c8ca;
  border-radius: 10px;
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 1.2em;
}

button#recording {
  display: block;
  background-color: transparent;
  border: none;
  float: left;
  cursor: pointer;
  display: none;
}

button#download-disabled {
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  color: #636466;
  float: right;
  cursor: not-allowed;
  display: none;
}

button#download-able {
  background-color: #1877f2;
  border: 1px solid #0021a5;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  color: #fffafa;
  float: right;
  cursor: pointer;
  display: none;
}

p#loading {
  font-size: 14px;
}

p#cronometro {
  font-size: 14px;
  float: left;
  display: none;
}